header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body {
    background-image: url(pattern.jpg);
}

img {
    height: 60px;
}

li {
    display: inline;
    margin: 0 10px 0;
}

a {
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
}

.center {
    padding: 10px;
    text-align: center;
}

main {
    background-color: white;
    margin: 80px 200px 50px;
    padding: 30px;
}

article {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}